<%= render 'users/profile_tabs', locals: { user: @user } %>

<section class="container">

  <% @feeds.find_in_batches(batch_size: 4) do |feeds_group| %>
    <div class="row my-5">

      <% feeds_group.each do |feed| %>
        <div class="col-xl-3 h-100">
          <%= render 'users/feed', feed: feed %>
        </div>
      <% end %>

    </div>
  <% end %>

</section>
