<section class="container">
  <h1>New post</h1>

  <div class="mt-5">
    <%= render "form", post: @post %>
  </div>

  <br>

  <div class="mt-5">
    <%= link_to "Back to posts", posts_path %>
  </div>
</section>
