<footer class="position-fixed bottom-0 w-100">
  <div class="bg-dark py-5 mt-5">
    <div class="container text-light text-center">
      <p class="display-5 mb-4">Example</p>
      <small class="text-white-50">&copy; Copyright by Company. All rights reserved.</small>
    </div>
  </div>
</footer>
